server:
  port: 9000  

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      mvc:
        routes:
          - id: product-service
            uri: http://localhost:8080   
            predicates:
              - Path=/api/products/**

          - id: order-service
            uri: http://localhost:8081   
            predicates:
              - Path=/api/order/**

          - id: inventory-service
            uri: http://localhost:8082   
            predicates:
              - Path=/api/inventory/**

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
